[Desktop Entry]
Type=Application
Name=LaunchWeaver
Comment=Game launch settings and OptiScaler editor
Exec=launch-weaver-standalone
Icon=launch-weaver-standalone
Terminal=false
Categories=Game;
Keywords=Heroic;Faugus;Proton;OptiScaler;
StartupWMClass=LaunchWeaver
